body{
    background: #87b5d4; 
    background: -webkit-linear-gradient(to right, #c7973f, #bdc3c7);  
    background: linear-gradient(to right, #89e6b1, #75abcf);
  }
.form{
    background-color: rgb(196, 234, 236);
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
  }
  
.form-body{
    text-align:left;
    padding: 20px 10px;
    padding-left: 32%;
  }
  

.container-navbar{
    background-color: #7ddbd3;
    padding: 15px;
    padding-right:1000px;
}
.space{
    padding-left: 60px;
}
.spaces{
    padding-left: 1000px;
}
